:root{
    --theme-color-light: hsl(0, 0%, 100%);
    --theme-color-light-alt: hsl(22, 71%, 47%);
    --theme-color-light-alt2: hsl(22, 67%, 29%);
    --theme-color-dark: hsl(31, 55%, 90%);
    --theme-color-dark-alt: hsl(0, 0%, 0%);
    --text-color-alt: hsl(0, 0%, 100%);
    --text-color-alt2: hsl(216, 11%, 55%);
    --border-color-light: #B8c0cc;
    --font-family-h: 'Suez One', serif;
    --font-family-txt: 'Inter', sans-serif;
    --font-size-s: 16px;
    --font-size-m: ;
    --font-size-l: ;
    --font-size-h-s: 28px;
    --font-size-h-m: ;
    --font-size-h-l: ;
    --line-height: 1.6;
    --line-height-h: 1.2;
    --min-width: 24rem;
    --max-width: 32rem;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*** Typography ***/

html {
    
}

body {
    font-family: var(--font-family-txt);
    font-size: var(--font-size-s);
    line-height: var(--line-height);
    min-width: var(--min-width);
}



h1 {
    font-family: var(--font-family-h);
    font-weight: 400;
    font-size: var(--font-size-h-s);
    line-height: var(--line-height-h);
    margin-bottom: 1rem;
    text-align: center;
}

div#main h1 {
    margin-bottom: 0;
}

p {
    max-width: var(--max-width);
}

div#main p {
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration:none;
}

a:hover {
    color: var(--theme-color-light-alt);
}

a:active {
    color: var(--text-color-alt2);
}

a.call-to-action:hover {
    color: var(--theme-color-light);
}

a.call-to-action:active {
    color: var(--text-color-alt2);
}

.section#services ul {
    margin: 0 3rem;
} 

label {
    align-self: flex-start;
}

input, textarea {
    width: 100%;
    max-width: var(--min-width);
    border-radius: 4px;
    border-width: 1px;
    border-color: var(--border-color-light);
    border-style: solid;
    outline: none;
    padding: 1em;
}

textarea {
    height: 7.5rem;
}

textarea::placeholder {
    font-family: var(--font-family-txt);
}

input:focus, textarea:focus {
    border-color: var(--text-color-alt2);
}

.bg-light {
    background-color: var(--theme-color-light);
}

.bg-light-alt {
    background-color: var(--theme-color-light-alt);
    color: var(--text-color-alt);
}

.bg-dark-alt {
    background-color: var(--theme-color-dark-alt);
    color: var(--text-color-alt);
}

.bg-dark {
    background-color: var(--theme-color-dark);
}

.logo {
    width: 13.5rem;
}


/*** Layout ***/

div#navbar {
    position: fixed;
    z-index: 5;
    background-color: var(--theme-color-light); 
    width: 100%;
    padding: .6rem;
}

div#main {
    position: relative;
    min-width: var();
    margin: 75px 35px 35px;
    padding: 1rem 1rem 0;
    background-color: var(--theme-color-dark-alt);
    color: var(--text-color-alt);
    text-align: center;
    z-index: 2;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    padding: 2rem;
}

.section#home {
    padding: 0;
    height: 85vh;
    position: relative;
}

.section#services {
    padding: 1rem 3rem 3.1rem;
    text-align: left;
}

.section#contact-us {
    text-align: center;
}

.section#contact-form {
    width: var(--min-width);
}

.section#footer {
    text-align: center;
}

#main-img {
    max-width: 90%;
    margin: 0 3rem;
    position: absolute;
    bottom: 0;
}


/*** Buttons ***/

.btn {
    display: block;
    width: fit-content;
    margin: 3rem auto;
    padding: 1em 2em;
    border-radius: 50px;
    border-width: 0;
    background-color: var(--theme-color-light-alt);
    color: var(--theme-color-light);
    font-size: var(--font-size-s);
    font-weight: 700;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: var(--theme-color-light-alt2);
    color: var(--text-color-alt2);
}

.btn.call-to-action {
    margin-top: 2rem;
}